.order_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delivery_type {
    width: 100%;
}

.order_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    font-size: 4.5vh;
    font-weight: bold;
    height: 7vh;
    background-color: #e8e8e8;
}

.order_details_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.first_block {
    width: 45%;
    height: 50%;
    padding: 0.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 1%;
    position: sticky;
    top: 20vh;
}

.second_block {
    width: 45%;
    padding: 0.5vh;
    margin: 1%;
}

.delivery_method {
    width: 80%;
    height: 4vh;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
}

.delivery_method_text {
    margin-left: 5%;
    font-size: 2vh;
}

.chosen_order_type {
    width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.chosen_order_type > label {
    width: 30%;
    display: flex;
    align-items: center;

}

.chosen_order_type_check_box {
    transform: scale(2.5);
    cursor: pointer;
}

.chosen_order_type_name {
    font-size: 2.5vh;
    margin-left: 10%;
}

.chosen_order_client_name_box, .chosen_order_client_email_box {
    width: 80%;
    height: 5.5vh;
    margin-top: 3vh;
    position: relative;
}

.chosen_order_client_name_input, .chosen_order_client_email_input {
    width: 94%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 3%;
    transition: 1s;
}

.chosen_order_client_name_box label, .chosen_order_client_email_box label {
    font-size: 24px;
    position: absolute;
    left: 3.5%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.chosen_order_client_name_box input:focus ~ label,
.chosen_order_client_name_box input:valid ~ label,
.chosen_order_client_email_box input:focus ~ label,
.chosen_order_client_email_box input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.chosen_order_client_name_input:hover, .chosen_order_client_email_input:hover {
    border: 1px solid #0E0E0E;
}

.checked_registration_block {
    width: 80%;
    height: 4vh;
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.chosen_order_type_data {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}

.first_data_type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.chosen_order_client_city_box {
    width: 100%;
    height: 5.5vh;
    margin-top: 1vh;
    position: relative;
}

.chosen_order_client_city_input {
    width: 94%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 3%;
    transition: 1s;
}

.chosen_order_client_city_box label {
    font-size: 24px;
    position: absolute;
    left: 3.5%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.chosen_order_client_city_box input:focus ~ label,
.chosen_order_client_city_box input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.chosen_order_client_city_input:hover {
    border: 1px solid #0E0E0E;
}

.address_details_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
}

.address_details_box_first_block {
    width: 65%;
    height: 100%;
    position: relative;
}

.address_details_box_second_block {
    width: 30%;
    height: 100%;
    position: relative;
}

.chosen_order_client_street_input {
    width: 95%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 0 0 5%;
    transition: 1s;
}

.address_details_box_first_block label {
    font-size: 24px;
    position: absolute;
    left: 5%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.address_details_box_second_block label {
    font-size: 24px;
    position: absolute;
    left: 10%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.chosen_order_client_house_input {
    width: 92%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 0 0 8%;
    transition: 1s;
}

.address_details_box_first_block input:focus ~ label,
.address_details_box_first_block input:valid ~ label,
.address_details_box_second_block input:focus ~ label,
.address_details_box_second_block input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.chosen_order_client_street_input:hover, .chosen_order_client_house_input:hover {
    border: 1px solid #0E0E0E;
}

.order_comment {
    width: 100%;
    height: 15vh;
    margin-top: 3vh;
    position: relative;
}

.address_comment_bottom {
    width: 100%;
    height: 15vh;
    margin-top: 7vh;
    position: relative;
}

.order_comment_bottom {
    width: 100%;
    height: 15vh;
    margin-top: 5.5vh;
    position: relative;
}


.chosen_order_client_order_comment_input {
    width: 94%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 3%;
    transition: 1s;
}

.order_comment label, .order_comment_bottom label, .address_comment_bottom label {
    font-size: 24px;
    position: absolute;
    left: 3.5%;
    top: 35%;
    transition: top .5s;
    padding: 0 5px;
}

.order_comment input:focus ~ label,
.order_comment input:valid ~ label,
.order_comment_bottom input:focus ~ label,
.order_comment_bottom input:valid ~ label,
.address_comment_bottom input:focus ~ label,
.address_comment_bottom input:valid ~ label {
    background-color: #ffffff;
    top: -10%;
}

.chosen_order_client_order_comment_input:hover {
    border: 1px solid #0E0E0E;
}

.address_information_box {
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.address_information_box > div {
    width: 20%;
    height: 100%;
}

.chosen_order_client_entrance_input,
.chosen_order_client_flour_input,
.chosen_order_client_office_input,
.chosen_order_client_intercom_input {
    width: 90%;
    height: 100%;
    padding-left: 10%;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    transition: 1s;
}

.address_details_block_first label,
.address_details_block_second label,
.address_details_block_third label,
.address_details_block_four label {
    font-size: 24px;
    position: absolute;
    left: 10%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.address_details_block_first {
    margin-right: 3.5%;
    position: relative;
}

.address_details_block_second {
    margin: 0 3.5% 0 3%;
    position: relative;
}

.address_details_block_third {
    margin: 0 3% 0 3.5%;
    position: relative;
}

.address_details_block_four {
    margin-left: 3.5%;
    position: relative;
}

.address_details_block_first input:focus ~ label,
.address_details_block_first input:valid ~ label,
.address_details_block_second input:focus ~ label,
.address_details_block_second input:valid ~ label,
.address_details_block_third input:focus ~ label,
.address_details_block_third input:valid ~ label,
.address_details_block_four input:focus ~ label,
.address_details_block_four input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.map_container {
    width: 100%;
    height: 50vh;
    margin-top: 3vh;
    border: 1px solid #0E0E0E;
}

.second_data_type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.address_self_pickup {
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
}

.third_data_type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop_is_closed {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    min-height: 80vh;
}

.not_order_container {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: bold;
    min-height: 80vh;
}

.bucket_empty {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

.back_to_menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.content {
    width: 100%;
}

.errors_span {
    width: 100%;
    justify-content: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #e53935;
}

.selected_city_container {
    font-size: 24px;
}

.selected_city_container > div > div {
    padding: 0 0 0 3%;
}

.order_table {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.order_table_head {
    width: 100%;
    padding: 3%;

}

.table_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.table_name_first {
    width: 59%;
}

.table_name_second {
    width: 20%;
    display: flex;
    justify-content: center;
}

.table_name_third {
    width: 20%;
    display: flex;
    justify-content: center;
}

.order_table_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    border-radius: 1vh;
    border: 1px solid #e8e8e8;
}

.chosen_product_container_table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.chosen_product_container_table > hr {
    width: 100%;
}

.first_element {
    width: 59%;
    display: flex;
    flex-wrap: wrap;
}

.first_element > div {
    width: 45%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.chosen_product_image {
    width: 15vh;
    height: 15vh;
    border-radius: 1vh;
}

.product_information_element {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.product_information_element_product_ingredients {
    width: 100%;
    color: #6B6B6B;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.product_information_element_product_ingredients > div {
    display: flex;
    justify-content: center;
}

.second_element {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.third_element {
    width: 20%;
    display: flex;
    justify-content: right;
}

.productPrice {
    font-size: 26px;
    color: #e53935;
}

.third_element > span {
    display: flex;
    margin: 0.5vh;
    align-items: center;
}

.delete_order_product {
    width: 1%;
    cursor: pointer;
    height: 50%;
    display: flex;
    justify-content: center;
}

.delete_order_product:hover {
    color: #FFD600;
}

.order_price_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    font-size: 2vh;
}

.question_servet_block {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.checkbox_servet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.checkbox_servet > input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.servet_text {
    display: flex;
    align-items: center;
    width: 75%;
}

.discount {
    width: 30%;
    display: flex;
    height: 100%;
    align-items: center;
}

.price {
    width: 30%;
    display: flex;
    height: 100%;
    align-items: center;
}

.order_button_container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order_button {
    width: 50%;
    height: 5vh;
    background-color: #FFD600;
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    font-size: 24px;

}
.order_button_disabled{
    width: 50%;
    height: 5vh;
    background-color: #FFD600;
    border: none;
    border-radius: 5vh;
    font-size: 24px;
    cursor: not-allowed;
    pointer-events: none;
}

.order_button:hover {
    background-color: #e53935;
    color: #ffffff;
}

.customer_information {
    margin-top: 5vh;
    width: 100%;
    font-size: 2.5vh;
}
