.header {
    width: 100%;
    position: fixed;
    min-height: 100px;
    top: 10px;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 #f3f3f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    border-top: none;
}
.separator{
    width: 1px;
    background-color: #6B6B6B;
    height: 70px;
}

.loading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    height: 10px;
    top: 0;
    background-color: #FFF;
}

.loading .line_box {
    width: 100%;
    height: 10px;
    background-color: #FFF;
}

.loading .line_box .line {
    height: 10px;
    background-color: #e53935;
    animation: loading 0.3s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.logo_image {
    height: 60px;
    background-color: #FFD600;
    border-radius: 10px;
    padding: 10px;
}

.home_page {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 100px;
}

::selection {
    background-color: #000000;
    color: whitesmoke;
}

.header > a > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.outlet {
    margin: 0 auto;
    min-height: 100vh;
}

.footer {
    width: 100%;
    margin-top: 5vh;
    height: 40vh;
}

.order_total_count {
    text-decoration: none;
}

.order_content {
    display: block;
}

.order_content > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0E0E0E;
}

.total_count {
    font-size: 22px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
}

.basket_image {
    width: 35px;
    height: 35px;
}

.city_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.city_box > div {
    width: auto;
}

.city_box > div:hover {
    color: #FFD600;
}

.image_city_location {
    width: 30px;
    height: 40px;
}

.city_name {
    font-size: 34px;
}

.category_image {
    width: 50px;
    height: 50px;
}

.category_path {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    border: 5px solid #FFF;
    transition: 1s;
    border-radius: 20px;
    color: #0E0E0E;
    font-size: 24px;
}

.information_path {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #0E0E0E;
    font-size: 24px;
}

.category_path > span, .information_path > span {
    width: 100%;
    display: flex;
    justify-content: center;
}

.information_menu {
    width: auto;
    position: relative;
    display: inline-block;
    float: right;
}

.information_drop_down_menu {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
    width:auto;
}

.information_drop_down_path {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    margin: 10px 0 0 0;
}

.information_drop_down_path:hover {
    color: #FFD600;
}

.information_menu:hover .information_drop_down_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.information_menu:hover .information_path .information_drop_down_menu {
    background-color: transparent;
}

.category_path:hover {
    border: 0.5vh solid #FFD600;
}

a {
    text-decoration: none;
    font-size: 2vh;
    color: #0E0E0E;
}

.customer_data_box {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 100%;
    background-color: #FFD600;
    font-weight: bold;
    color: #e53935;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customer_data_box:hover {
    background-color: #e53935;
    color: #FFD600;
}

.menu_center {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu_right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
