.search {
    width: 50%;
}

.search_input {
    width: 75%;
    height: 5vh;
    border-radius: 5vh 0 0 5vh;
    padding-left: 5%;
    font-size: 2vh;
}

.search_input_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search_input_icon {
    background-color: #FFD600;
    border-radius: 0 5vh 5vh 0;
    width: 10%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px;
    font-size: 5vh;
}

.search_input_icon:hover {
    background-color: #e53935;
}

.product_data {
    width: 100%;
    display: flex;
}

.product_results {
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}

.product_results::-webkit-scrollbar {
    display: none;
}

.product_results .product_element {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    margin: 20px 0 20px 0;
}

.product_element p {
    font-size: 2vh;
}

.product_price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_price > p {
    width: 50%;
}

.product_price_box {
    color: #e53935;
}

.product_element {
    text-decoration: none;
    color: #0E0E0E;
    transition: 0.3s;
}

.product_element:hover {
    color: #FFD600;
}

.product_element_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product_element_box > span {
    display: flex;
    align-items: center;
}
