.product_box {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
    border: 1px solid #6B6B6B;
    padding: 5px;
}

.product_first_block {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images_container {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.images_container_static {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.product_box:hover {
    box-shadow: 0 0 10px 10px #e8e8e8;
}

.product_photo_one {
    width: 250px;
    height: 250px;
    transition: 1.5s;
}

.product_photo_static {
    width: 250px;
    height: 250px;
    transition: 1.5s;
}

.product_photo_two {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

.product_box:hover .product_photo_one {
    opacity: 0;
}

.product_box:hover .product_photo_two {
    opacity: 1;
}

.product_second_block {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product_second_block > div {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
}

.product_price {
    color: #e53935;
    margin: 0 5px 0 5px;
}

.product_name {
    color: #e53935;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.product_description {
    text-overflow: ellipsis;
    overflow: hidden;

}

.product_ingredients {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #6B6B6B;
}

.product_ingredients_elements {
    color: #e53935;
}
