.product_container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search_bar_container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.product_carousel {
    width: 100%;
}

.products_text {
    margin-top: 10vh;
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}

.products_text_min_margin {
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}
