.product_container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search_bar_container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.product_carousel {
    width: 100%;
}

.products_text {
    margin-top: 10vh;
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}

.products_text_min_margin {
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}

.question_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
    background-color: #fafafa;
}

.header_question_text {
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10vh;
}

.accordion_container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.pizza_more_information_container, .burger_more_information_container, .drink_more_information_container, .sushi_more_information_container {
    margin: 10vh 0 10vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
