
.carousel_control_left {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 120px;
    top: calc(50% - 25px);
    color: #f3f3f3;
    cursor: pointer;
    left: 0;
    font-size: 26px;
}

.carousel_control_right {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 120px;
    top: calc(50% - 25px);
    color: #f3f3f3;
    cursor: pointer;
    right: 0;
    font-size: 26px;
}

.carousel_control_left:hover, .carousel_control_right:hover {
    color: #497BE8;
}

