.admin_content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation_block {
    width: 100%;
    display: flex;
    height: 10vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-height: 100px;
    top: 0;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 #f3f3f3;
}

.navigation_block a {
    text-decoration: none;
    width: 15%;
    font-size: 20px;
    color: #0E0E0E;
}

.navigation_block a:hover {
    color: #e53935;
}

.content_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.content_block {
    width: 45%;
    margin: 1%;
    min-height: 80vh;
}

.admin_information_block {
    width: 45%;
    margin: 1%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin_information_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}

.information_order_header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5%;
    background-color: #f9e506;
    border-radius: 5vh;
    align-items: center;
}

.order_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*height: 90%;*/
}

.separator{
    height: 1vh;
    width: 100%;
    background-color: #f9e506;
    margin: 5vh 0 5vh 0;
}


.logout_button_container {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.logout_button {
    padding: 5px;
    height: 100px;
    width: 500px;
    border: none;
    font-size: 30px;
    border-radius: 50px;
    transition: ease-out 0.8s;
    outline: none;
    background-color: #e53935;
    box-shadow: inset 0 0 0 0 #f9e506;
    color: #ffffff;
}

.logout_button:hover {
    box-shadow: inset 500px 0 0 0 #f9e506;
    cursor: pointer;
    color: #e53935;
    border: none;
}

