.carousel {
    margin: 0 auto;
    overflow: hidden;
    max-width: 70vh;
    position: relative;
}

.carousel_item {
    display: inline-block;
    width: 100%;
}
.carousel_inner{
    white-space: nowrap;
    transition: ease 1s;
}

.carousel_item {
    display: inline-block;
    width: 100%;
}

.carousel_item_image {
    width: 100%;
    height: 70vh;
}
