.delivery_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chosen_order_client_firstName_box, .chosen_order_client_email_box, .chosen_order_client_city_box {
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
    position: relative;
}

.chosen_order_client_firstName_input, .chosen_order_client_email_input, .chosen_order_client_city_input {
    width: 94%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 3%;
    transition: 0.3s;
}

.chosen_order_client_firstName_box label, .chosen_order_client_email_box label, .chosen_order_client_city_box label {
    font-size: 24px;
    position: absolute;
    left: 3.5%;
    top: 25%;
    transition: 0.3s;
    padding: 0 5px;
}

.chosen_order_client_firstName_box input:focus ~ label,
.chosen_order_client_firstName_box input:valid ~ label,
.chosen_order_client_city_box input:focus ~ label,
.chosen_order_client_city_box input:valid ~ label,
.chosen_order_client_email_box input:focus ~ label,
.chosen_order_client_email_box input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.chosen_order_client_firstName_input:hover, .chosen_order_client_email_input:hover, .chosen_order_client_city_input:hover {
    border: 1px solid #0E0E0E;
}

.checked_registration_block {
    width: 80%;
    height: 4vh;
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.move_to_login_box {
    margin: 0 5px 0 5px;
}

.move_to_login {
    color: #e53935;
}

.errors_span {
    width: 100%;
    justify-content: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #e53935;
}

.selected_city_container {
    width: 100%;
}

.address_details_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
}

.address_details_box_first_block {
    width: 65%;
    height: 100%;
    position: relative;
}

.address_details_box_second_block {
    width: 30%;
    height: 100%;
    position: relative;
}

.chosen_order_client_street_input {
    width: 95%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 0 0 5%;
    transition: 1s;
}

.address_details_box_first_block label {
    font-size: 24px;
    position: absolute;
    left: 5%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.address_details_box_second_block label {
    font-size: 24px;
    position: absolute;
    left: 10%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.chosen_order_client_house_input {
    width: 92%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    padding: 0 0 0 8%;
    transition: 1s;
}

.address_details_box_first_block input:focus ~ label,
.address_details_box_first_block input:valid ~ label,
.address_details_box_second_block input:focus ~ label,
.address_details_box_second_block input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.chosen_order_client_street_input:hover, .chosen_order_client_house_input:hover {
    border: 1px solid #0E0E0E;
}

.order_comment, .address_comment {
    width: 100%;
    height: 15vh;
    margin-top: 3vh;
}

.order_comment_button, .address_comment_bottom {
    width: 100%;
    height: 15vh;
    margin-top: 5.5vh;
}

.order_comment_input, .chosen_address_comment_input {
    width: 94%;
    height: 100%;
    outline: none;
    font-size: 2.5vh;
    border: 1px solid #e8e8e8;
    padding: 0 3%;
    transition: 0.3s;
    resize: none;
}

.order_comment_input:hover, .chosen_address_comment_input:hover {
    border: 1px solid #0E0E0E;
}

.address_information_box {
    width: 100%;
    height: 5.5vh;
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.address_information_box > div {
    width: 20%;
    height: 100%;
}

.chosen_order_client_entrance_input,
.chosen_order_client_flour_input,
.chosen_order_client_office_input,
.chosen_order_client_intercom_input {
    width: 90%;
    height: 100%;
    padding-left: 10%;
    font-size: 24px;
    border: 1px solid #e8e8e8;
    transition: 1s;
}

.address_details_block_first label,
.address_details_block_second label,
.address_details_block_third label,
.address_details_block_four label {
    font-size: 24px;
    position: absolute;
    left: 10%;
    top: 25%;
    transition: top .5s;
    padding: 0 5px;
}

.address_details_block_first {
    margin-right: 3.5%;
    position: relative;
}

.address_details_block_second {
    margin: 0 3.5% 0 3%;
    position: relative;
}

.address_details_block_third {
    margin: 0 3% 0 3.5%;
    position: relative;
}

.address_details_block_four {
    margin-left: 3.5%;
    position: relative;
}

.address_details_block_first input:focus ~ label,
.address_details_block_first input:valid ~ label,
.address_details_block_second input:focus ~ label,
.address_details_block_second input:valid ~ label,
.address_details_block_third input:focus ~ label,
.address_details_block_third input:valid ~ label,
.address_details_block_four input:focus ~ label,
.address_details_block_four input:valid ~ label {
    background-color: #ffffff;
    top: -30%;
}

.map_container {
    width: 100%;
    height: 50vh;
    margin-top: 3vh;
    border: 1px solid #0E0E0E;
}

.create_user_order_data_container {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_user_order_button {
    width: 50%;
    height: 5vh;
    background-color: #FFD600;
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    font-size: 24px;
}

.create_user_order_button:hover {
    background-color: #e53935;
    color: #ffffff;
}
